<form action="/cars" method="post">
  <label for="makeModel">makeModel</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">Price</label>
  <input id="price" name="price" type="number">
  <label for="miles">Miles</label>
  <input id="miles" name="miles" type="number">
  <label for="description">Description</label>
  <input id="description" name="description" type="text">
  <button type="submit">Submit</button>
</form>
