<form action="/cars/byPrice" method="post">
  <label for="searchPrice">Search By Price</label>
  <input id="searchPrice" name="searchPrice" type="number">
  <button type="submit">Submit</button>
</form>