<h1>Welcome to the Epicodus Car Dealership!</h1>
<h3>Dealership View</h3>
<a href='/cars/new'>Add New Car</a>
<a href='/cars'>List of Cars</a>
<br>
<h3>Customer View</h3>
<a href='/cars/priceForm'>Search Cars by Price</a>
<a href='/cars'>View All List</a>